<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Godot" value="C:\godot\Godot_v4.7-stable_mono_win64\GodotSharp\Tools\nupkgs" />
  </packageSources>
  <config>
    <!-- Гарантирует правильную распаковку нативных библиотек .so для Android -->
    <add key="globalPackagesFolder" value="./packages" />
  </config>
</configuration>
