API_PORT=17879
PROXY_HOST=0.0.0.0
AI_QUEUE_TIMEOUT=5.0
AI_QUEUE_MAX_DEPTH=2
AI_TIMEOUT_SECONDS=20
SEMANTIC_THRESHOLD=0.82

GIGACHAT_CREDENTIALS=
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat-2
GIGACHAT_MODELS=GigaChat-2,GigaChat-2-Pro,GigaChat-2-Max,GigaChat-3-Ultra
GIGACHAT_VERIFY_SSL=true
GIGACHAT_CA_BUNDLE=ce/russian_trusted_root_ca_pem.crt
